section{
    padding: 60px 0;
}

img{
    width: 48%;
    height: 48%;
    max-width: 70%;
    max-height: 70%;
}

.card:hover {
    box-shadow: 5px 6px 6px 2px #0c0d0e;
    transform: scale(1.1)
}


/* .lang{
    height: 100px;
} */